{% extends 'base.html.twig' %}
{% form_theme form 'form/tapaForm.html.twig' %}
{% block title %}Registro usuario{% endblock %}
{% block contenido %}

    <div class="container">
        <h2 class="mt-4 mb-3">Registro usuario</h2>
        <div class="row">
            <div class="col-lg-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <div class="col-lg-6">
                <h2>Para qué registrarse?</h2>
                <p>Con tu registro podrás realizar reservas desde la aplicación</p>
                <p>Solo te llevara unos segundos, introuce tu email y una contraseña</p>
            </div>
      </div>
    </div>
{% endblock %}